<h2>학생정보를 수정하는 페이지</h2>

<a href="{% url 'home' %}">
    홈으로
</a>
<!-- items.id 를 안주면 객체 새로 생성 -->
<form action="{% url 'update' items.id %}" method="POST">
    {% csrf_token %}

    <div>
        <input type="text" id="bar" name="name" placeholder="이름" value='{{items.name}}'>
    </div>
    <div>
        <input type="text" id="bar" name="major" placeholder="학과" value='{{items.major}}'>
    </div>
    <div>
        <input type="text" id="bar" name="admission_year" placeholder="입학년도" value='{{items.admission_year}}'>
    </div>
    <div>
        <input type="text" id="bar" name="class_number" placeholder="학번" value='{{items.class_number}}'>
    </div>
    <div>
        <input type="text" id="bar" name="grade" placeholder="평균학점" value='{{items.grade}}'>
    </div>

    <button class="btn btn-secondary btn-lg btn-block" type="submit">등록 완료하기</button>
</form>